<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotózás</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda">
</head>
<body>
    
    <div class="container">
        <nav class="navbar">
          <div class="container-fluid">
    
            <img src="../assets/images/logo.jpg" style="width: 60px; height: 60px" >
    
            <a class="navbar-brand" href="https://www.google.hu/">Főoldal</a>

            <a class="navbar-brand" href="https://www.google.hu/">Fotózás</a>
    
            <a class="navbar-brand" href="https://www.google.hu/">Levendulaszüret</a>
              
            <a class="navbar-brand" href="https://www.google.hu/">Rendezvények</a>
            
            <a class="navbar-brand" href="https://www.google.hu/">Kapcsolat</a>
    
          </div>
        </nav>
      </div>



    <div class="cim">
        <h1>
            Ajánlatkérés fotózásra
        </h1>
    </div>
  


    <fieldset class="urlap">

        <form>
       
    
            <label for="Name" style="font-size: 25px;">Név: </label>
            <input type="text" style="width: 350px; margin-bottom: 20px; margin-top: 10px; border-color: rgb(153, 84, 167);">
    
            <br>
    
            <label for="Email" style="font-size: 25px;">Email cím: </label>
            <input type="text" style="width: 350px; margin-bottom: 20px; border-color: rgb(153, 84, 167);">
    
            <br>
    
            <label for="Phonenumber" style="font-size: 25px;">Telefonszám: </label>
            <input type="number" style="width: 350px; margin-bottom: 20px; border-color: rgb(153, 84, 167);">
    
            <br>
    
            <label for="képzés" style="font-size: 25px;">Fotózás típusa: </label>
            <select style="width: 200px; border-color: rgb(153, 84, 167);">
                <option value="Choose"></option>
                <option value="Paros" style="font-family: Merienda;">Páros fotózás</option>
                <option value="Eskuvoi" style="font-family: Merienda;">Esküvői fotózás</option>
                <option value="Csaladi" style="font-family: Merienda;">Családi fotózás</option>
            </select>
    
            <br>
    
            <label for="People" style="font-size: 25px;">Résztvevők száma: </label>
            <input type="number" style="width: 50px; margin-bottom: 20px; margin-top: 20px; border-color: rgb(153, 84, 167);">
    
            <br>
    
            <textarea for="message" style="width: 500px; height: 100px; font-family: 'Merienda'; color: rgb(153, 84, 167); margin-bottom: 50px;">Üzenet:</textarea>
           
    
            <br>
    
            <button type="submit" id="gomb" onclick="Click()">Jelentkezés</button>
            
 
        </form>
    
        <img src="photopage/photoshoot.jpg" style="width: 30%; padding-left: 50px; padding-top: 10px; padding-bottom: 10px;">


    </fieldset>
    
    
    
   

    <section class="footer">

        <div>
                
            <h2 style="color: rgb(119, 42, 135);">
            Információk    
            </h2>
            <p>
                8621 Zamárdi, Alma sétány 12.
            </p>
            <p>
                +36 20 9827 527
            </p>
            <p>
                levendula-garden@levendula.com
            </p>
            
        </div>
        <div>
            <h2 style="color: rgb(119, 42, 135);">
                NYITVATARTÁS
            </h2>
           
            <p>Júniustól Augusztusig minden nap 9 órától 18 óráig</p>
        
        </div>
            
        <div>
            <h2 style="color: rgb(119, 42, 135);">
                KÖVESS MINKET A FACEBOOKON!
            </h2>
    
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42398.00735177858!2d17.93324721588783!3d46.872765366373976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769b92fc434b2cb%3A0x647dcdabcf7f4e3a!2zWmFtw6FyZGksIDg2MjE!5e0!3m2!1shu!2shu!4v1684781875119!5m2!1shu!2shu" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
    </section>






  
</body>
</html>