<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend projekt</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>
<body>



<div class="container">
    <nav class="navbar">
      <div class="container-fluid">

        <img src="../assets/images/logo.jpg" style="width: 60px; height: 60px" >

        <a class="navbar-brand" href="https://www.google.hu/">Főoldal</a>

        <a class="navbar-brand" href="https://www.google.hu/">Fotózás</a>

        <a class="navbar-brand" href="https://www.google.hu/">Levendulaszüret</a>

        <a class="navbar-brand" href="https://www.google.hu/">Rendezvények</a>
        
        <a class="navbar-brand" href="https://www.google.hu/">Kapcsolat</a>

      </div>
    </nav>
  </div>


  <div class="container2">
    <div class="box">
        <img src="../assets/images/tajkep2.jpg" alt="">
    </div>
    <div class="box">
        <img src="../assets/images/tajkep33.jpg" alt="">
    </div>
    <div class="box">
        <img src="../assets/images/tajkep4.jpg" alt="">
    </div>
    <div class="box">
        <img src="../assets/images/tajkep5.jpg" alt="">
    </div>
    <div class="box">
        <img src="../assets/images/tajkep6.jpg" alt="">
    </div>
  
  </div>



<div class="cim">
    <h1>
        Levendula Garden Zamárdi
    </h1>
</div>



<section style="display: flex; justify-content: space-evenly; ">


  <div class="doboz1">
      <img src="../assets/images/doboz1kep.jpg" style="height: 600px; width: 475px;">
  </div>
  <div class="doboz2">
      <img src="../assets/images/doboz2kep.jpg" style="height: 600px; width: 475px;">
  </div>
  <div class="doboz3">
      <img src="../assets/images/doboz3kep.jpg" style="height: 600px; width: 475px;">
  </div>
  
      
</section>


<div class="cim2">
  <h4>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus velit impedit consectetur, rerum, officiis tempore nisi dolor voluptatibus ab quibusdam, maxime voluptatum et! Modi provident et natus doloribus minus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h4>
</div>


<section class="cim3">
  <div>
      <img src="../assets/images/cim3kep.jpg">
  </div>
  <div id="cim3box">
      
      <h2 style="color: rgb(119, 42, 135); padding-bottom: 14px; padding-top: 10px;">
          Levendulaszüret
      </h2>
      <h4>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit ullam, tem veniam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab et exercitationem excepturi aspernatur eius quas labore harum.
      </h4>
      <button id="gomb">Tovább</button>
  </div>

</section>


<section class="cim4">
 
  <div id="cim4box">
      
      <h2 style="color: rgb(119, 42, 135); padding-bottom: 14px; padding-top: 10px;">
          Fotózás
      </h2>
      <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab et exercitationem excepturi aspernatur eius quas labore harum.
      </h4>
      <button id="gomb">Tovább</button>
      
  </div>
  <div>
      <img src="../assets/images/photo2.jpg">
  </div>

</section>


<section class="cim5">
  <div>
      <img src="../assets/images/cim5kep.jpg">
  </div>
  <div id="cim5box">
      
      <h2 style="color: rgb(119, 42, 135); padding-bottom: 14px; padding-top: 10px;">
          Rendezvények
      </h2>
      <h4>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, rem magni ratione.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab et exercitationem excepturi aspernatur eius quas labore harum.
      </h4>

      <button id="gomb">Tovább</button>
  </div>

</section>



<section class="form mx-auto class">

<h3>Üzenj nekünk! :)</h3> 


    <div class="mb-3">
        <label for="text" class="form-label">Név</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Email cím</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="helloszia@gmail.com">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Üzenet</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button id="gomb">Küldés</button>
    

</section>



<section class="footer">

    <div>
            
        <h2 style="color: rgb(119, 42, 135);">
        Információk    
        </h2>
        <p>
            8621 Zamárdi, Alma sétány 12.
        </p>
        <p>
            +36 30 9876 543
        </p>
        <p>
            +36 20 1234 567
      </p>
        <p>
            levendula-garden@levendula.com
        </p>
        
    </div>
    <div>
        <h2 style="color: rgb(119, 42, 135);">
            NYITVATARTÁS
        </h2>
       
        <p>Júniustól Augusztusig minden nap 9 órától 18 óráig</p>
    
    </div>
        
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42398.00735177858!2d17.93324721588783!3d46.872765366373976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769b92fc434b2cb%3A0x647dcdabcf7f4e3a!2zWmFtw6FyZGksIDg2MjE!5e0!3m2!1shu!2shu!4v1684781875119!5m2!1shu!2shu" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>


</body>
</html>